Options -Indexes
RewriteEngine On
DirectoryIndex index.php

# Eliminar .php de las URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# Redirigir todas las peticiones a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "\.php$">
    RewriteCond %{REQUEST_URI} !/index\.php$
    RewriteRule ^.*$ - [F,L]
</FilesMatch>
